.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .profile {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &__img > img {
      width: 350px;
    }

    &__info {
      width: 100%;
      margin-right: 20px;

      .details {
        margin: 20px 0;
      }
    }
  }
}
